.container {
  height: 100%;
  width: 100%;
  background-color: #e14d2a;
  background-size: cover;
  background-position: center;
}

.navigation {
  font-size: 1.5rem;
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation__logo {
  text-transform: uppercase;
  -webkit-text-decoration: solid;
          text-decoration: solid;
  height: 3.25rem;
  margin-left: 2rem;
  color: #fff;
}
.navigation__list {
  display: flex;
  align-self: stretch;
  align-items: center;
  padding: 0 4rem;
}
.navigation__item {
  padding: 0 2rem;
  height: 100%;
  display: flex;
  align-items: center;
}
.navigation__link:link, .navigation__link:visited {
  padding: 3px;
  display: flex;
  text-decoration: none;
  line-height: 5rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 300;
  font-family: sans-serif;
  color: #fff;
  top: 1.5rem;
  right: 1.1rem;
  cursor: pointer;
  background-image: linear-gradient(90deg, transparent, transparent 50%, #fff 50%);
  background-size: 300%;
  transition: all 0.4s;
  border-radius: 100px;
}
.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #e14d2a;
  transform: translateY(1rem);
}

.header {
  height: 95vh;
  padding: 10rem;
}
.header__text-box {
  display: flex;
  padding: 6rem;
  flex-direction: column;
  align-items: center;
}

.heading-primary {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
.heading-primary--main {
  display: block;
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 35px;
  -webkit-animation-name: slidein;
          animation-name: slidein;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}
.heading-primary--second {
  display: block;
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 30px;
  margin-top: 2rem;
  -webkit-animation-name: slidein;
          animation-name: slidein;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

@-webkit-keyframes slidein {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes slidein {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
.heading-secondary {
  text-decoration: none;
  margin-left: 2rem;
  display: flex;
  color: #fff;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: -25vh;
  font-family: sans-serif;
}
.heading-secondary span {
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-margin-start: -38rem;
          margin-inline-start: -38rem;
  margin-top: 5rem;
  font-size: 3.5rem;
  font-weight: 500;
  color: #fd841f;
}

.heading-third {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;
  font-size: 2.5rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  font-family: sans-serif;
  color: #fff;
  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  padding: 3rem;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
}

.btn:link,
.btn:visited {
  display: inline-block;
  padding: 1.5rem 2rem;
  border-radius: 200px;
  border: none;
  margin-top: 6rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 300;
  font-family: sans-serif;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.bnt:active {
  transform: translate(-1px);
  box-shadow: 0 5px 10px, rgba(0, 0, 0, 0.2);
}

.btn--white {
  background-color: #fd841f;
  color: #fff;
}

.section-about {
  background-color: #A62349;
  padding: 25rem 0rem;
  margin-top: -8vh;
}/*# sourceMappingURL=main.css.map */