.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9rem;
  width: 100%;
  padding: 0 6rem;
  z-index: 100;
}
.navigation__logo {
  text-transform: uppercase;
  -webkit-text-decoration: solid;
          text-decoration: solid;
  height: 4.5rem;
  margin-left: 2rem;
  color: #fff;
}
.navigation__list {
  display: flex;
  align-items: center;
  list-style: none;
}
.navigation__item {
  margin-left: 4rem;
  margin-right: 1.5rem;
}
.navigation__link {
  /*
      &:hover,
      &:active {
        background-position: 100%;
        color: #e14d2a;
        transform: translateY(1rem);
      }
      */
}
.navigation__link:link, .navigation__link:visited {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #fff;
  text-decoration: none;
  display: block;
  transition: all 0.3;
}

.heading-primary {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
.heading-primary--main {
  display: block;
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 35px;
  -webkit-animation-name: slidein;
          animation-name: slidein;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}
.heading-primary--second {
  display: block;
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 30px;
  margin-top: 2rem;
  -webkit-animation-name: slidein;
          animation-name: slidein;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  padding: 3rem;
}

@-webkit-keyframes slidein {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes slidein {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
@-webkit-keyframes animation {
  100% {
    stroke-dashoffset: 165;
  }
}
@keyframes animation {
  100% {
    stroke-dashoffset: 165;
  }
}
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
}

#svg {
  height: 600px;
  width: 600px;
  align-items: center;
  margin-left: 70rem;
  margin-top: -25rem;
}

/*
#number {
  font-size: 2rem;
  font-weight: 400;
  font-family: sans-serif;
  color: #fd841f;
}

#number1 {
  font-size: 2rem;
  font-weight: 400;
  font-family: sans-serif;
  color: #fd841f;
}

#number2 {
  font-size: 2rem;
  font-weight: 400;
  font-family: sans-serif;
  color: #fd841f;
}

#svg {
  height: 600px;
  width: 600px;
  align-items: center;
  //background-color: black;
  margin-left: 65rem;
  margin-top: -30rem;
}

circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: animation 2s linear forwards;
}

svg {
  position: absolute;
  left: 2.3rem;
  top: 33rem;
  background-size: auto;
}
*/
.btn:link,
.btn:visited {
  display: inline-block;
  padding: 1.5rem 2rem;
  border-radius: 200px;
  border: none;
  margin-top: 6rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-2px);
  box-shadow: 0 5px 10px, rgba(0, 0, 0, 0.2);
}

.btn--white {
  background-color: #fd841f;
  color: #fff;
}

.navigation__link--btn:link,
.navigation__link--btn:visited {
  display: inline-block;
  padding: 1.5rem 2rem;
  border-radius: 200px;
  border: none;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 300;
  font-family: sans-serif;
}

.navigation__link--btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.navigation__link--btn:active {
  transform: translateY(-2px);
  box-shadow: 0 5px 10px, rgba(0, 0, 0, 0.2);
}

.heading-secondary {
  text-decoration: none;
  margin-left: 2rem;
  display: flex;
  color: #fff;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: -25vh;
  font-family: "Poppins", sans-serif;
}
.heading-secondary span {
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-margin-start: -38rem;
          margin-inline-start: -38rem;
  margin-top: 5rem;
  font-size: 3.5rem;
  font-weight: 500;
  color: #fd841f;
}

/*
  .heading-third {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;
    font-size: 2.5rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    font-family: sans-serif;
    color: #fff;
    text-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  */
.heading-forth {
  display: inline-block;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 8rem;
  margin-left: -61rem;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card {
  height: 52rem;
  width: 27rem;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  -webkit-animation-name: slidein;
          animation-name: slidein;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}
.card__side {
  width: 100%;
  height: 47.5rem;
  position: absolute;
  font-size: 1.5rem;
  top: 0;
  left: 0;
  border-radius: 15px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: all 1s ease;
  overflow: hidden;
}
.card__side--front {
  background-color: #fff;
}
.card__side--front-1 {
  background-image: linear-gradient(to right, #def5e5, #bcead5);
}
.card__side--back {
  transform: rotateY(-180deg);
}
.card__side--back-1 {
  background-image: linear-gradient(to right, #def5e5, #bcead5);
}
.card:hover .card__side--front {
  transform: rotateY(180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0);
}
.card__picture {
  margin-left: -2rem;
  background-size: cover;
  height: 25rem;
  -webkit-clip-path: circle(62.4% at 50% 52%);
  clip-path: circle(62.4% at 50% 52%);
}
.card__picture-1 {
  background-image: url(/assets/images/E-Commerce-Shopping-Transparent-Background.png);
}
.card__heading {
  margin-top: 3rem;
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  color: black;
}
.card__heading-span {
  color: #fd841f;
  display: flex;
  flex-direction: column;
  align-items: center;
  font: 2.5rem;
  font-weight: 400;
  font-family: sans-serif;
  letter-spacing: 0.2rem;
}
.card__details {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card__details ul {
  list-style: none;
  width: 80%;
}
.card__details ul li {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: sans-serif;
  text-transform: capitalize;
}
.card__details ul li:not(:last-child) {
  border-bottom: 1px solid #a62349;
}

.card__cta {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card__cta-p1 {
  font-size: 2rem;
  font-weight: 600;
  font-family: sans-serif;
  margin-top: 10rem;
  text-transform: uppercase;
  color: #fd841f;
  border-bottom: 1px solid #a62349;
}
.card__cta__project-live {
  margin-top: 15rem;
  text-decoration: none;
  font-size: 2rem;
  color: #fd841f;
}
.card__cta__project-code {
  text-decoration: none;
  font-size: 2rem;
  color: #fd841f;
}

.name {
  margin-bottom: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 3rem;
  font-weight: 400;
  font-family: sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3.5rem;
  -webkit-animation-name: slidein;
          animation-name: slidein;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

/*
  &--out {
    display: inline-block;
    margin-right: -2.5rem;
    margin-left: 5.7rem;
    background-color: #fff;
    height: 160px;
    width: 160px;
    border-radius: 50%;
    padding: 2rem;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
      -6px -6px 10px -1px rgba(255, 255, 255, 0);
  }

  &--in {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
      inset -4px -4px 6px -1px rgba(255, 255, 255, 0),
      -0.5px -0.5px 0px rgba(255, 255, 255, 1),
      0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
      0px 12px 10px -10px rgba(0, 0, 0, 0.05);
  }

  &--skill {
    font-size: 1.7rem;
    font-weight: 500;
    font-family: sans-serif;
    text-decoration: none;
    color: #fd841f;
    letter-spacing: 0.8rem;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3.5rem;
  }
  */
.form__group:not(:last-child) {
  margin-bottom: 2rem;
}
.form__input {
  font-size: 1.5rem;
  font-family: sans-serif;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
}
.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #61764B;
}

.container {
  height: 100%;
  width: 100%;
  background-color: #61764B;
  background-size: cover;
  background-position: center;
  font-size: 1.5rem;
  line-height: 2.4;
  font-weight: 500;
}

.header {
  height: 95vh;
  padding: 10rem;
}
.header__text-box {
  display: flex;
  padding: 6rem;
  flex-direction: column;
  align-items: center;
}

.section-about {
  background-color: #61764B;
  padding: 25rem 0rem;
  margin-top: -10vh;
  display: flex;
  position: relative;
}

.section-myproject {
  background-color: #61764B;
  padding: 25rem 0rem 50rem 0rem;
  margin-top: -36vh;
}

.section-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right bottom, #61764B, #61764B);
  padding: 15rem 0rem;
  margin-top: -40vh;
}

.contact {
  background-size: cover;
  height: 25rem;
  background-size: 100%;
  border-radius: 3px;
}/*# sourceMappingURL=main.css.map */