.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9rem;
  width: 100%;
  padding: 0 6rem;
}
.navigation__logo {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 900;
  font-size: 3.2rem;
  font-family: "Poppins", sans-serif;
  line-height: 6rem; /* changed height to line-height */
  margin-left: 2rem;
  color: #fd841f;
  display: inline-block; /* added display property */
  vertical-align: middle; /* added vertical-align property */
  -webkit-animation: logo-animation 1s ease-in-out forwards;
          animation: logo-animation 1s ease-in-out forwards;
}
.navigation__list {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0; /* added padding property to remove default padding */
}
.navigation__item {
  margin-left: 3.5rem;
  margin-right: 1.5rem;
}
.navigation__item:last-child {
  margin-right: 0; /* added to remove margin on last item */
}
.navigation__link:link, .navigation__link:visited {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #fff;
  text-decoration: none;
  display: block;
  transition: all 0.3s; /* added "s" for seconds */
  border-bottom: 1px solid #fd841f;
  padding: 1rem 0; /* added padding to link */
}
.navigation__link:hover, .navigation__link:active {
  color: #e14d2a;
  transform: translateY(1rem);
  border-bottom: none; /* added to remove border on hover */
}

.footer__nav {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

.footer__item {
  margin-right: 4rem;
}

.footer__link {
  font-size: 1.6rem;
  color: #eee;
  text-decoration: none;
}

.footer__copyright {
  font-size: 1.5rem;
  color: #aaa;
  text-align: center;
}

.footer__copyright .footer__link {
  font-size: 1.6rem;
}

.heading-primary {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
.heading-primary--main {
  display: block;
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 35px;
  -webkit-animation-name: slidein;
          animation-name: slidein;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}
.heading-primary--second {
  display: block;
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 30px;
  margin-top: 2rem;
  -webkit-animation-name: slidein;
          animation-name: slidein;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  padding: 3rem;
}

@-webkit-keyframes slidein {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes slidein {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
@-webkit-keyframes animation {
  100% {
    stroke-dashoffset: 165;
  }
}
@keyframes animation {
  100% {
    stroke-dashoffset: 165;
  }
}
@-webkit-keyframes logo-animation {
  0% {
    transform: rotate(0deg);
    opacity: 0;
  }
  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}
@keyframes logo-animation {
  0% {
    transform: rotate(0deg);
    opacity: 0;
  }
  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
}

#svg {
  height: 600px;
  width: 600px;
  align-items: center;
  margin-left: 70rem;
  margin-right: -15rem;
  margin-top: -60rem;
}

/*
#number {
  font-size: 2rem;
  font-weight: 400;
  font-family: sans-serif;
  color: #fd841f;
}

#number1 {
  font-size: 2rem;
  font-weight: 400;
  font-family: sans-serif;
  color: #fd841f;
}

#number2 {
  font-size: 2rem;
  font-weight: 400;
  font-family: sans-serif;
  color: #fd841f;
}

#svg {
  height: 600px;
  width: 600px;
  align-items: center;
  //background-color: black;
  margin-left: 65rem;
  margin-top: -30rem;
}

circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: animation 2s linear forwards;
}

svg {
  position: absolute;
  left: 2.3rem;
  top: 33rem;
  background-size: auto;
}
*/
.btn:link,
.btn:visited {
  display: inline-block;
  padding: 1.5rem 2rem;
  border-radius: 200px;
  border: none;
  margin-top: 6rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-2px);
  box-shadow: 0 5px 10px, rgba(0, 0, 0, 0.2);
}

.btn--white {
  background-color: #fd841f;
  color: #fff;
}

.navigation__link--btn:link,
.navigation__link--btn:visited {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 200px;
  border: none;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 300;
  font-family: sans-serif;
}

.navigation__link--btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.navigation__link--btn:active {
  transform: translateY(-2px);
  box-shadow: 0 5px 10px, rgba(0, 0, 0, 0.2);
}

.heading-secondary {
  text-decoration: none;
  margin-left: 2rem;
  display: flex;
  color: #fff;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: -25vh;
  font-family: "Poppins", sans-serif;
  display: block;
  position: absolute;
}
.heading-secondary span {
  letter-spacing: 0.5rem;
  display: flex;
  align-items: center;
  margin-left: 4rem;
  margin-top: -1rem;
  font-size: 3.5rem;
  font-weight: 500;
  color: #fd841f;
  box-shadow: 2rem 0rem 4rem rgba(253, 132, 31, 0.15);
  border-radius: 50px;
  padding: 0 2rem;
}

.heading-thrid--p {
  display: block;
  margin-left: 6rem;
  margin-top: 5rem;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  text-transform: capitalize;
}
.heading-thrid--p span {
  color: #fd841f;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  box-shadow: 0 1.5rem 4rem rgba(253, 132, 31, 0.15);
  border-radius: 50px;
}

.heading-forth {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12rem;
  margin-left: -60rem;
  margin-right: 10rem;
  position: relative;
}
.heading-forth--p1 {
  margin-top: 15rem;
  margin-right: 80rem;
  margin-left: -30rem;
  font-size: 3.5rem;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  color: #fd841f;
  letter-spacing: 0.2rem;
  border-bottom: 1px solid #a62349;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.heading-forth--skill {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: -20rem;
  margin-top: 25rem;
  gap: 1rem;
  position: absolute;
}
.heading-forth--skill i {
  font-size: 5.5rem;
}
.heading-forth--skill img {
  width: 4.9rem;
  font-size: 2rem;
}
.heading-forth--skill .disable {
  filter: blur(3px) grayscale(0.9);
}

/*
  &--out {
    display: inline-block;
    margin-right: -2.5rem;
    margin-left: 5.7rem;
    background-color: #fff;
    height: 160px;
    width: 160px;
    border-radius: 50%;
    padding: 2rem;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
      -6px -6px 10px -1px rgba(255, 255, 255, 0);
  }

  &--in {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
      inset -4px -4px 6px -1px rgba(255, 255, 255, 0),
      -0.5px -0.5px 0px rgba(255, 255, 255, 1),
      0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
      0px 12px 10px -10px rgba(0, 0, 0, 0.05);
  }

  &--skill {
    font-size: 1.7rem;
    font-weight: 500;
    font-family: sans-serif;
    text-decoration: none;
    color: #fd841f;
    letter-spacing: 0.8rem;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3.5rem;
  }
  */
.section--sign-up .section__header {
  color: #fff;
  text-align: center;
  font-size: 2.8rem;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

.section--sign-up .section__title {
  margin-bottom: 4rem;
}

.section--sign-up .btn {
  padding: 2rem 5rem;
  border-radius: 200px;
  border: none;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 80rem;
  background-color: #f3f3f3;
  padding: 5rem 5rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.5s;
  border-radius: 35px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

.modal__header {
  font-size: 3.5rem;
  margin-bottom: 4.5rem;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
}
.modal__header span {
  color: #fd841f;
  font-family: "Poppins", sans-serif;
}

.modal__form {
  margin: 0 3rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  gap: 2.8rem;
}

.modal__form label {
  font-size: 1.7rem;
  font-weight: 500;
}

.modal__form input {
  font-size: 1.7rem;
  padding: 1rem 1.5rem;
  border: 1px solid #ddd;
  border-radius: 3rem;
}

.modal__form button {
  grid-column: 1/span 2;
  justify-self: center;
  margin-top: 1rem;
}

.btn--close-modal {
  font-family: inherit;
  color: inherit;
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  border: none;
  background: none;
}

.hide {
  visibility: hidden;
  opacity: 0;
}

.btn__form {
  display: inline-block;
  padding: 1.5rem 2rem;
  border-radius: 200px;
  border: none;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
}

.btn__form:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn__form:active {
  transform: translateY(3px);
  box-shadow: 0 5px 10px, rgba(0, 0, 0, 0.2);
}

.btn--white-form {
  background-color: #fd841f;
  color: #fff;
}

.card {
  height: 50rem;
  width: 23rem;
  perspective: 150rem;
  margin: 1.5rem;
  -moz-perspective: 150rem;
  position: relative;
  -webkit-animation-name: slidein;
          animation-name: slidein;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  filter: blur(3px) grayscale(0.9);
}
.card__side {
  width: 100%;
  height: 45rem;
  position: absolute;
  font-size: 1.5rem;
  top: 0;
  left: 0;
  border-radius: 50px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: all 1s ease;
  overflow: hidden;
}
.card__side--front {
  background-color: #fff;
}
.card__side--front-1 {
  background-image: linear-gradient(to right, #def5e5, #bcead5);
}
.card__side--back {
  transform: rotateY(-180deg);
}
.card__side--back-1 {
  background-image: linear-gradient(to right, #def5e5, #bcead5);
}
.card:hover .card__side--front {
  transform: rotateY(180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0);
}
.card__picture {
  margin-left: -2rem;
  background-size: cover;
  height: 25rem;
  -webkit-clip-path: circle(62.4% at 50% 52%);
  clip-path: circle(62.4% at 50% 52%);
}
.card__picture-1 {
  background-image: url(/assets/images/E-Commerce-Shopping-Transparent-Background.png);
}
.card__heading {
  margin-top: 3rem;
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  color: black;
}
.card__heading-span {
  color: #fd841f;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: sans-serif;
  letter-spacing: 0.2rem;
}
.card__details {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card__details ul {
  list-style: none;
  width: 80%;
}
.card__details ul li {
  font-size: 1.2rem;
  font-weight: 500;
  font-family: sans-serif;
  text-transform: capitalize;
}
.card__details ul li:not(:last-child) {
  border-bottom: 1px solid #a62349;
}

.card__cta {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card__cta-p1 {
  font-size: 2rem;
  font-weight: 600;
  font-family: sans-serif;
  margin-top: 10rem;
  text-transform: uppercase;
  color: #fd841f;
  border-bottom: 1px solid #a62349;
}
.card__cta__project-live {
  margin-top: 15rem;
  text-decoration: none;
  font-size: 2rem;
  color: #fd841f;
}
.card__cta__project-code {
  text-decoration: none;
  font-size: 2rem;
  color: #fd841f;
}

.name {
  margin-bottom: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 3rem;
  font-weight: 400;
  font-family: sans-serif;
  color: #fd841f;
  text-transform: uppercase;
  letter-spacing: 3.5rem;
  -webkit-animation-name: slidein;
          animation-name: slidein;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.container {
  height: 100%;
  width: 100%;
  background-color: #393e46;
  background-size: cover;
  background-position: center;
  font-size: 1.5rem;
  line-height: 2.4;
  font-weight: 500;
}

.header {
  height: 95vh;
  padding: 10rem;
}
.header__text-box {
  display: flex;
  padding: 6rem;
  flex-direction: column;
  align-items: center;
}

.section-about {
  background-color: #393e46;
  padding: 25rem 0rem;
  margin-top: -10vh;
  display: flex;
  position: relative;
}

.section-myproject {
  background-color: #393e46;
  padding: 25rem 0rem 50rem 0rem;
  margin-top: -18vh;
}

.section--sign-up {
  background-color: #37383d;
  border-top: none;
  border-bottom: 1px solid #444;
  text-align: center;
  padding: 10rem 3rem;
  margin-top: -45vh;
}

.footer {
  padding: 10rem 3rem;
  background-color: #37383d;
}/*# sourceMappingURL=main.css.map */