.btn:link,
.btn:visited {
  display: inline-block;
  padding: 1.5rem 2rem;
  border-radius: 200px;
  border: none;
  margin-top: 6rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-2px);
  box-shadow: 0 5px 10px, rgba(0, 0, 0, 0.2);
}

.btn--white {
  background-color: #fd841f;
  color: #fff;
}

.navigation__link--btn:link,
.navigation__link--btn:visited {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 200px;
  border: none;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 300;
  font-family: sans-serif;
}

.navigation__link--btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.navigation__link--btn:active {
  transform: translateY(-2px);
  box-shadow: 0 5px 10px, rgba(0, 0, 0, 0.2);
}
