.heading-secondary {
  text-decoration: none;
  margin-left: 2rem;
  display: flex;
  color: #fff;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: -25vh;
  font-family: sans-serif;

  span {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline-start: -38rem;
    margin-top: 5rem;
    font-size: 3.5rem;
    font-weight: 500;
    color: #fd841f;
  }
}
/*
  .heading-third {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;
    font-size: 2.5rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    font-family: sans-serif;
    color: #fff;
    text-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  */

.heading-forth {
  display: inline-block;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 160px;
  width: 160px;
  margin-top: 8rem;
  margin-left: -61rem;

  &--out {
    display: inline-block;
    margin-right: -2.5rem;
    margin-left: 5.7rem;
    background-color: #fff;
    height: 160px;
    width: 160px;
    border-radius: 50%;
    padding: 2rem;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
      -6px -6px 10px -1px rgba(255, 255, 255, 0);
  }

  &--in {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
      inset -4px -4px 6px -1px rgba(255, 255, 255, 0),
      -0.5px -0.5px 0px rgba(255, 255, 255, 1),
      0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
      0px 12px 10px -10px rgba(0, 0, 0, 0.05);
  }

  &--skill {
    font-size: 1.7rem;
    font-weight: 500;
    font-family: sans-serif;
    text-decoration: none;
    color: #fd841f;
    letter-spacing: 0.8rem;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3.5rem;
  }
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card {
  height: 52rem;
  width: 27rem;
  margin-right: -15rem;
  margin-left: -15rem;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  animation-name: slidein;
  animation-duration: 2s;
  animation-timing-function: ease-out;

  &__side {
    width: 100%;
    height: 43rem;
    position: absolute;
    font-size: 1.5rem;
    top: 0;
    left: 0;
    border-radius: 15px;
    box-shadow: 0 1.5rem 4rem rgba(black, 0.15);
    backface-visibility: hidden;
    transition: all 1s ease;
    overflow: hidden;

    &--front {
      background-color: #fff;

      &-1 {
        background-image: linear-gradient(to right, #def5e5, #bcead5);
      }
    }

    &--back {
      transform: rotateY(-180deg);

      &-1 {
        background-image: linear-gradient(to right, #def5e5, #bcead5);
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }

  &__picture {
    margin-left: -2rem;
    background-size: cover;
    height: 25rem;
    -webkit-clip-path: circle(62.4% at 50% 52%);
    clip-path: circle(62.4% at 50% 52%);

    &-1 {
      background-image: url(/assets/images/E-Commerce-Shopping-Transparent-Background.png);
    }
  }

  &__heading {
    margin-top: 3rem;
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    color: black;

    &-span {
      color: #fd841f;
      display: flex;
      flex-direction: column;
      align-items: center;
      font: 2.5rem;
      font-weight: 400;
      font-family: sans-serif;
      letter-spacing: 0.2rem;
    }
  }

  &__details {
    color: black;
    display: flex;
    flex-direction: column;

    align-items: center;
    ul {
      list-style: none;
      width: 80%;

      li {
        font-size: 1.5rem;
        font-weight: 500;
        font-family: sans-serif;
        text-transform: capitalize;

        &:not(:last-child) {
          border-bottom: 1px solid #a62349;
        }
      }
    }
  }
}

.card__cta {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &-p1 {
    font-size: 2rem;
    font-weight: 600;
    font-family: sans-serif;
    margin-top: 10rem;
    text-transform: uppercase;
    color: #fd841f;
    border-bottom: 1px solid #a62349;
  }

  &__project-live {
    margin-top: 15rem;
    text-decoration: none;
    font-size: 2rem;
    color: #fd841f;
  }

  &__project-code {
    text-decoration: none;
    font-size: 2rem;
    color: #fd841f;
  }
}

.name {
  margin-bottom: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 3rem;
  font-weight: 400;
  font-family: sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3.5rem;
  animation-name: slidein;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
