.header {
  height: 95vh;
  padding: 10rem;

  &__text-box {
    display: flex;
    padding: 6rem;
    flex-direction: column;
    align-items: center;
  }
}

.heading-primary {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;

  &--main {
    display: block;
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 35px;
    animation-name: slidein;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }

  &--second {
    display: block;
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: 30px;
    margin-top: 2rem;
    animation-name: slidein;
    animation-duration: 2s;
    animation-timing-function: ease-out;
  }
}

@keyframes slidein {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

.heading-secondary {
  text-decoration: none;
  margin-left: 2rem;
  display: flex;
  color: #fff;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: -25vh;
  font-family: sans-serif;

  span {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline-start: -38rem;
    margin-top: 5rem;
    font-size: 3.5rem;
    font-weight: 500;
    color:#fd841f;
    
    
  }
}


.heading-third {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;
  font-size: 2.5rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  font-family: sans-serif;
  color: #fff;
 text-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
