.heading-primary {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;

  &--main {
    display: block;
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 35px;
    animation-name: slidein;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }

  &--second {
    display: block;
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: 30px;
    margin-top: 2rem;
    animation-name: slidein;
    animation-duration: 2s;
    animation-timing-function: ease-out;
  }
}


