.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9rem;
  width: 100%;
  padding: 0 6rem;
  z-index: 100;


  &__logo {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    height: 4.5rem;
    margin-left: 2rem;
    color: #fd841f;
  }

  &__list {
   display: flex;
   align-items: center;
   list-style: none;
   
  }
  &__item {
    margin-left: 3.5rem;
    margin-right: 1.5rem;
    
  }

  &__link {
    &:link,
    &:visited {
      font-size: 1.5rem;
      font-weight: 500;
      font-family: 'Poppins', sans-serif;
      color: #fff;
      text-decoration: none;
      display: block;
      transition: all 0.3;
    }
/*
    &:hover,
    &:active {
      background-position: 100%;
      color: #e14d2a;
      transform: translateY(1rem);
    }
    */
    
  }
}
