.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9rem;
  width: 100%;
  padding: 0 6rem;
  z-index: 100;

  &__logo {
    text-transform: uppercase;
    text-decoration: solid;
    height: 4.5rem;
    margin-left: 2rem;
    color: #fff;
  }

  &__list {
   display: flex;
   align-items: center;
   list-style: none;
  }
  &__item {
    margin-left: 4rem;
    
  }

  &__link {
    &:link,
    &:visited {
      font-size: 1.7rem;
      font-weight: 400;
      color: #fff;
      text-decoration: none;
      display: block;
      transition: all 0.3;
    }
/*
    &:hover,
    &:active {
      background-position: 100%;
      color: #e14d2a;
      transform: translateY(1rem);
    }
    */
    
  }
}
